<!--
	class: class of the figure
	link: url the image directs to
	alt: alternative text
	caption: caption
	mouse: what the image says when moused over ("title" in HTML)
-->
<img src="https://fvckdog.github.io/mywebsite/discord_button.gif" alt="Craft Astrals"></img> 
<img src="https://fvckdog.github.io/mywebsite/astral_button.png" alt="Craft Astrals"></img>
<img src="https://fvckdog.github.io/mywebsite/java_button.gif" alt="Craft Astrals"></img>
<img src="https://fvckdog.github.io/mywebsite/no_escape_button.gif" alt="Craft Astrals"></img>


